<center>
<div class="container-fluid">
 <section class="se-container">
    	<div class="se-slope">
    		<article class="se-content">
    			<h3>SkyGram</h3>
    			<p> I can <class="fa fa-smile-o"></i></p>
    		</article>
    	</div>
    	<div class="se-slope">
    		<!-- ... -->
    	</div>
    	<!-- ... -->
 
 </section>
</div>

<div class="topics-wrapper">  
 
    <% @topics.reverse.each do |topic| %>
    
      <div class ="jumbotron">  
        <div class="text-center">
            <div class ="topic-title">
                
                <h2><%= topic.title %></h2>
                <i class="fa fa-smile-o"></i>
            </div>
           
            <div class= "topic-image">
                  <% if topic.image? %>
                    <%= link_to (image_tag topic.image.url(:medium), class:'img-responsive'), topic_path(topic) %>
                  <% end %>
            </div>
            
            <div class="topic-description">
                      <h3><%= topic.description %></h3>
            </div>
            <div class = "center">
                    <div class ="btn-group btn-group-lg">
                        
                        
                        <!--<button type="button" class="btn btn-default">-->
                            <%#= pluralize(topic.votes.count, "vote") %>
                        <%#= link_to '+1', upvote_topic_path(topic), method: :post, class: 'btn btn-default' %>
                        <%#= link_to '-1', downvote_topic_path(topic), method: :post, class:'btn btn-default' %>
                        <%= link_to 'View', topic_path(topic), class: "btn btn-default" %>
                        <%= link_to  'Delete!', topic_path(topic), method: :delete, class:"btn btn-default", data: { confirm: 'Are you sure?' } %>
                    
                    </div>
                    <div>
                           <div><%= link_to " ",upvote_topic_path(topic), method: :post, class: 'glyphicon glyphicon-chevron-up' %></div>
                           <div><strong><%= pluralize(topic.votes.count,"vote") %></strong></div>
                           <div><%= link_to " ", downvote_topic_path(topic), method: :post, class: 'glyphicon glyphicon-chevron-down' %></div>
                    </div>
            </div>
           
        </div> 
      </div>    
    <% end %>  
    
</div>


<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Listing Topics</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Description</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

  <!--<tbody>-->
    <%# @topics.each do |topic| %>
<!--      <tr>-->
        <td><%#= topic.title %></td>
        <td><%#= topic.description %></td>
        <td><%#= image_tag topic.image.url(:medium) %><td>
        <td><%#= pluralize(topic.votes.count, "vote") %></td>
        <td><%#= button_to '+1', upvote_topic_path(topic), method: :post %></td>
        <td><%#= link_to 'Show', topic %></td>
        <td><%#= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%#= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<%= link_to 'New Topic', new_topic_path %>
</center>
