<center>
<p id="notice"><%= notice %></p>

<p>
  <h1><strong>Title:</strong></h1>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>
<%= image_tag @topic.image.url(:small) %>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
</center>
